
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(suit.jpg);
    background-size: cover;
    height:fit-content;
    /* background: radial-gradient(black, white); */
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}


.inside-nav{
    margin: 0 auto;
    width: 1170px;
    padding-top: 10px;

}

.inside-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.inside-nav ul li{
    float: none;
    display: inline-block;
}

.inside-nav ul li:nth-child(1){
    float: left;
}

.inside-nav ul li:nth-child(2){
    float: left;
}
.inside-nav ul li:nth-child(3){
    float: left;
}

.inside-nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.inside-nav ul li a:hover{
    color: red; 
}

.navbar{
    width: 100%;
    position: relative;
    background-color: rgb(0, 0, 0);
    padding-bottom: 10px;
}

.logo img{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 46%;
    padding-top: -5px;
    /* top: -10;
    content: ""; */
}


.header {
    color: rgb(252, 252, 252);
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width:13em;
    font-size: 60px;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 200px;
    padding-top: 3vmax;
}

.btn{
    display: inline-block;
    background: red;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    /* margin-top: 100px; */
    border-radius: 30px;
    font-size: 15px;
    text-decoration: none;
    }