/* Cart Page CSS */
.cart-padding{
    padding: 20px;
    font-family: Sans serif roman;
}
#order-table{
    border-radius: 8px;
}
#order-table img {
    width: 20%;
    float: left;
    padding-right: 5px;
}
#order-table th {
    width: 25%;
    font-size: 120%;
}
.total-box{
    border: 2px solid grey;
    border-radius: 8px;
}
.cart-total{
    margin-bottom: 10%;
}
.pay-button{
    margin: 0 auto;
    width: 90%;
    padding: 5px;
    background-color: navy;
    border-radius: 8px;
    color: white;
    display: block;
}
.center {
    margin: 0 auto;
}
.item-name{
    float: right;
    width: 80%;
}
.item-quantity {
    width: 40px;
    height: 25px;
    text-align: center;
}
.quantity-btn {
    width:25px;
    height:25px;
}
/* End of Cart Page CSS*/