<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3%22%3E" >
<head>
    <title> Footer </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/footer.css">
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    </head>
    <body>
        <div id="footercontainer">
        <div id="main">

        </div>
        </div>
            </div>
        </div>
        <footer class ="footer">
            <div class = "container">
                
                <div class = "row">
                    <div class="footer-col col-3">

                        <h4>CONTACT US:</h4>
                        <ul>
                        <p>PHONE: 0121 245 3487</p>
                        <p>EMAIL: INFO@KINGSMAN.CO.UK</p>
                        <p>ADDRESS: UNIT 12, HOLT STREET, B45 6GF</p>
                    </ul>
                        


                    </div>
                    <div class="footer-col col-3">
                        <h4>OUR SERVICES:</h4>
                            <ul>
                            <li><a href="#">HOME PAGE</a></li>
                            <li><a href="http://127.0.0.1:5500/KingsMen/src/main/resources/templates/frontend-views/product-page.html">PRODUCTS</a></li>
                            <li><a href="http://127.0.0.1:5500/KingsMen/src/main/resources/templates/frontend-views/contact-details.html">CONTACT US</a></li>
                            <li><a href="file:///C:/Users/Haffy/OneDrive/CS%20year%202/Term%202/Team%20Project%202/about%20us.html">About Us</a></li>
                            <li><a href="http://127.0.0.1:5500/KingsMen/src/main/resources/templates/frontend-views/login.html">LOG IN</a></li>
                            </ul>
                        </div>
                     
                    <div class="footer-col col-3">
                        <h4>GET HELP:</h4>
                        <ul>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">SHIPPING</a></li>
                        <li><a href="#">PAYMENT OPTIONS</a></li>
                        <li><a href="#">RETURNS</a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-3">
                        <h4>FOLLOW US:</h4>
                        <div class="social-media">
                            <ul>
                                <li><a href="https://en-gb.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/home"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>