<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3%22%3E" >
<head>
    <title> Footer </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/footer.css">
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    </head>
    <body>
        <div id="footercontainer">
        <div id="main">

        </div>
        </div>
            </div>
        </div>

    </body>
</html>