<!DOCTYPE html>
<!DOCTYPE html>

<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body class="index">
    <div class="navbar">
        <div class="hidden-div">

        </div>
        <div class="inside-nav">
            <div class="sub-container-nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="product-page.html">Products</a></li>
                </ul>
            </div>
            <div class="logo">
                <a href=""><img src="../../static/Images/logo.png" alt=""></a>
            </div>
            <div class="sub-container-nav">
                <ul>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="">Contact us</a></li>
                </ul>
            </div>
        </div>
        <div class="shopping-items">
            <div class="sub-container-nav side-container" style="">
                <ul>
                    <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                class="bi bi-bag" viewBox="0 0 16 16">
                                <path
                                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                            </svg></a></li>
                    <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                class="bi bi-person" viewBox="0 0 16 16">
                                <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                            </svg></a></li>
                </ul>
            </div>

        </div>

    </div>
<div >

    <div class="work">
        <div class = "header">
            <p style=" padding-bottom: 4vmax";>Dress to impress with Kingsman's impeccable formal collection</p>
            <a href="" class="btn">Find your look!</a>
        </div>
    </div>
</div>
<footer class ="footer">
    <div class = "container">
        
        <div class = "row">
            <div class="footer-col col-3">

                <h4>CONTACT US:</h4>
                <ul>
                <p>PHONE: 0121 245 3487</p>
                <p>EMAIL: INFO@KINGSMAN.CO.UK</p>
                <p>ADDRESS: UNIT 12, HOLT STREET, B45 6GF</p>
            </ul>
                


            </div>
            <div class="footer-col col-3">
                <h4>OUR SERVICES:</h4>
                    <ul>
                    <li><a href="#">HOME PAGE</a></li>
                    <li><a href="http://127.0.0.1:5500/KingsMen/src/main/resources/templates/frontend-views/product-page.html">PRODUCTS</a></li>
                    <li><a href="http://127.0.0.1:5500/KingsMen/src/main/resources/templates/frontend-views/contact-details.html">CONTACT US</a></li>
                    <li><a href="file:///C:/Users/Haffy/OneDrive/CS%20year%202/Term%202/Team%20Project%202/about%20us.html">About Us</a></li>
                    <li><a href="http://127.0.0.1:5500/KingsMen/src/main/resources/templates/frontend-views/login.html">LOG IN</a></li>
                    </ul>
                </div>
             
            <div class="footer-col col-3">
                <h4>GET HELP:</h4>
                <ul>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">SHIPPING</a></li>
                <li><a href="#">PAYMENT OPTIONS</a></li>
                <li><a href="#">RETURNS</a></li>
                </ul>
            </div>
            <div class="footer-col col-3">
                <h4>FOLLOW US:</h4>
                <div class="social-media">
                    <ul>
                        <li><a href="https://en-gb.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/home"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                
            </div>
        </div>
    </div>
</footer>
</body>

</html>

<!-- <script id="replace_with_navbar" src="../../static/js/navbar.js"></script>
<script  id="replace_with_navbar" th:href="@{/js/navbar.js}"></script> -->

<!-- <script >
    fetch('navbar.html')
.then(res => res.text())
.then(text => {
    let oldelem = document.querySelector("script#replace_with_navbar");
    let newelem = document.createElement("div");
    newelem.innerHTML = text;
    oldelem.parentNode.replaceChild(newelem,oldelem);
}) 
</script> -->