<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
    </head>
<body class="index">
    <div class="navbar">
        <div class="logo">
            <a href=""><img src="../../static/Images/randomLogo.jpg" alt=""></a>
        </div>
        <div class="inside-nav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Profile</a></li>
                <li><a href="">Basket</a></li>
            </ul>
        </div>
    </div>
</body>
</html>

