<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
    </head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href=""><img src="../../static/Images/randomLogo.jpg" alt=""></a>
            <a href=""><img th:src="@{/Images/randomLogo.jpg}" alt=""></a>
        </div>
        <div class="inside-nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="product-page.html">Products</a></li>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="contact-details.html">Contact Us</a></li>
                <li><a href="">Profile</a></li>
                <li><a href="cart-page.html">Basket</a></li>
            </ul>
        </div>
    </div>
</body>
</html>


