<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" th:href="@{/css/style.css}"/> -->
  
  <title>Product Detail Page</title>
</head>
  
  <!-- Bread crumb-->
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb bg-white my-5">
      <li class="breadcrumb-item font-weight-light"><a href="/" class="text-secondary text-decoration-none">Home</a></li>
      <li class="breadcrumb-item font-weight-light"><a href="/product" class="text-secondary text-decoration-none">Product</a></li>
      <li th:if="${product}" class="breadcrumb-item font-weight-light"><a th:href="@{'/product/' + ${product.category.id}}" th:text="${product.category.name}" class="text-secondary text-decoration-none"></a></li>
      <li th:if="${product}" class="breadcrumb-item active font-weight-bold" aria-current="page" th:text="${product.name}" ></li>
    </ol>
  </nav>
  


  <!--Product Image -->
  <section class="container">
    <div class="row mt-5">
        <div class="col-lg-5 col-md-10 col-12">
          <img th:src="@{/images/productImage/{imageName}(imageName=${product.imageName})}" class="img-fluid" alt="Product Image">
        </div>
        <div class ="col-lg-6 col-md-12 col-12 bg-light">
              <h2 class="pt-3 font-weight-bold" th:text="${product.name}"></h2>
              <p class="pb-4 text-muted" th:text="'£' + ${product.price}"></p>
  
                <form class="form">
                    <select class="custom-select mb-3">
                      <option selected>Sizes:</option>
                      <option value="1">XL</option>
                      <option value="2">L</option>
                      <option value="3">M</option>
                      <option value="4">S</option>
                      <option value="5">XS</option>
                    </select>
  
                    <select class="custom-select mb-3">
                        <option selected>Quantity:</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="7">8</option>
                        <option value="7">9</option>
                      </select>
  
  
                </form>
  
                <form action="" method="post"><input type="hidden"
                  value="" name="id"><button type="submit"
                  class="btn btn-block btn-dark font-weight-light">Add to basket</button>
            <h3 class="mt-5 mb-3">Details</h4>
            <span>
              <p class="my-4 font-weight-light" th:text="${product.description}"></p>
            </span>
        </div>
  
  
  
  
    </div>
  </section>
  <footer class ="footer">
    <div class = "container">
        
        <div class = "row">
            <div class="footer-col col-3">

                <h4>CONTACT US:</h4>
                <ul>
                <p>PHONE: 0121 245 3487</p>
                <p>EMAIL: INFO@KINGSMAN.CO.UK</p>
                <p>ADDRESS: UNIT 12, HOLT STREET, B45 6GF</p>
            </ul>
                


            </div>
            <div class="footer-col col-3">
                <h4>OUR SERVICES:</h4>
                    <ul>
                    <li><a href="#">HOME PAGE</a></li>
                    <li><a href="http://127.0.0.1:5500/KingsMen/src/main/resources/templates/frontend-views/product-page.html">PRODUCTS</a></li>
                    <li><a href="http://127.0.0.1:5500/KingsMen/src/main/resources/templates/frontend-views/contact-details.html">CONTACT US</a></li>
                    <li><a href="file:///C:/Users/Haffy/OneDrive/CS%20year%202/Term%202/Team%20Project%202/about%20us.html">About Us</a></li>
                    <li><a href="http://127.0.0.1:5500/KingsMen/src/main/resources/templates/frontend-views/login.html">LOG IN</a></li>
                    </ul>
                </div>
             
            <div class="footer-col col-3">
                <h4>GET HELP:</h4>
                <ul>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">SHIPPING</a></li>
                <li><a href="#">PAYMENT OPTIONS</a></li>
                <li><a href="#">RETURNS</a></li>
                </ul>
            </div>
            <div class="footer-col col-3">
                <h4>FOLLOW US:</h4>
                <div class="social-media">
                    <ul>
                        <li><a href="https://en-gb.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/home"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                
            </div>
        </div>
    </div>
</footer>

</body>



</html>
